@import "src/styles/scss/index";

.section {
  padding: 50px 30px;

  @include respond_desktop {
    margin-top: 50px;
  }

  & + .section {
    margin-top: 50px !important;

    @include respond_desktop {
      margin-top: 100px !important;
    }
  }

  & > article {
    @include make_flex(row, center, center);
    width: 100%;
    margin-top: 30px;

    & > div {
      width: 100%;
      height: 100%;
      max-width: 450px;

      &.left {
        text-align: left;
      }

      &.center {
        text-align: center;
      }

      &.right {
        text-align: right;
      }

      @include respond_desktop {
        max-width: 550px;
      }
    }
  }

  &.default {
    background: #ffffff;
  }

  &.secondary {
    background: $color-lightscale-2;
  }

  &.transparent {
    background: transparent;
  }

  &.alt {
    background: $color-lightscale-2;

    @include respond_desktop {
      width: 768px !important;
      margin: 0 auto 100px auto;
      z-index: 10;

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 768px;
        right: -50px;
        bottom: -50px;
        border-right: 50px solid $color-secondary-3;
        border-bottom: 50px solid $color-secondary-3;
        z-index: -1;
      }
    }
  }
}
