@import "src/styles/scss/index";

.page-header {
  h3 {
    margin-bottom: 10px;
  }
}

.link {
  @include make_flex(row, flex-start, center);
  margin-bottom: 30px;

  :global {
    .icon {
      margin-right: 10px;
    }
  }
}

.date {
  margin-bottom: 20px;

  @include respond_phone {
    @include make_flex(row, flex-start, stretch);
  }

  & > span {
    display: block;

    @include respond_phone {
      display: inline-block;
    }

    &:first-child {
      white-space: nowrap;
      color: $color-grayscale-2;
      text-transform: uppercase;
      margin-bottom: 5px;

      @include respond_phone {
        margin-bottom: 0;
      }
    }

    &:nth-child(2) {
      display: none;
      color: $color-grayscale-2;
      width: 20px;
      text-align: center;

      @include respond_phone {
        display: inline-block;
      }
    }
  }
}

.description {
  border-bottom: 1px solid $color-primary-3;
  padding-bottom: 30px;

  h4 {
    font-weight: 200;
    color: $color-grayscale-1;
  }
}
