@import "src/styles/scss/base/index";
@import "src/styles/scss/index";

.main {
  @include make_flex(column, flex-start, flex-start);
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  & > .content {
    display: block;
    margin: 0 auto;
    width: 100%;

    @include respond_tablet_landscape {
      @include make_flex(column, flex-start, flex-start);
      overflow-y: hidden;

      & > section {
        flex: 1;
      }
    }

    @include respond_desktop {
      & > * {
        max-width: 100%;
        width: 100%;
      }
    }
  }
}

body,
html {
  height: 100%;
  width: 100%;

  & > div {
    height: 100%;
    width: 100%;
  }
}
