@import "src/styles/scss/index";

.footer {
  width: 100%;
}

.credits {
  background: $color-primary-1;
  padding: 30px;
  width: inherit;
  text-align: center;

  @include respond_tablet {
    @include make_flex(row, flex-start, flex-end);
    background: $color-primary-3;
    padding: 20px;

    & > div {
      &:first-child {
        text-align: left;
        flex: 1;
      }
    }
  }

  .info {
    margin-bottom: 20px;

    @include respond_tablet {
      @include make_flex(row, flex-start, center);
      margin-bottom: 10px;
      & > * {
        &:not(:first-child) {
          &:before {
            content: ", ";
          }
        }
      }
    }
  }

  .created-by {
    display: none;

    & a {
      color: $color-secondary-0;
    }
    @include respond_tablet {
      @include make-flex(row, flex-start, center);
    }
  }

  .privacy {
    @include respond_tablet {
      @include make-flex(row, flex-start, center);
      text-align: right;

      & > a {
        color: $color-secondary-0;
      }
    }
  }
}

.links {
  display: none;
  background: $color-primary-1;
  padding: 40px;

  @include respond_tablet {
    @include make_flex(row, flex-start, flex-start);
  }

  @include respond_tablet_landscape {
    display: none;
  }

  & > .block {
    min-width: 125px;

    &:not(:first-child) {
      margin-left: 20px;
    }
    header {
      margin-bottom: 10px;
    }
    ul {
      & > li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        & > a {
          text-decoration: none;
          text-transform: capitalize;
        }
      }
    }
  }
}

.mail {
  max-width: 480px;
  width: 480px;
}
