@import "src/styles/scss/index";

.social {
  @include make_flex(row, center, center);
  padding: 15px;
  background: $color-lightscale-3;

  @include respond_tablet {
    padding: 20px;

    :global {
      .icon {
        height: 30px;
        width: 30px;

        svg {
          font-size: 30px;
        }
      }
    }
  }

  & > ul {
    @include make_flex(row, space-around, center);
    min-width: 65%;
    width: 65%;

    & > li {
      padding: 0 !important;
      &:before {
        content: "" !important;
      }
    }

    @include respond_tablet {
      min-width: 45%;
      width: 45%;
    }
  }
}
