@import "src/styles/scss/index";

.avatar {
  min-height: 150px;
  min-width: 150px;

  & > * {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  & > div {
    @include make_flex(row, center, center);
    margin: 0 auto;
    width: 200px;
    height: 200px;
    margin-top: (200px / 2) * -1;
    margin-left: (200px / 2) * -1;
    background: #fff;
    border-radius: 50%;
    filter: blur(11px);
  }

  img {
    :global {
      animation: fadein 0.25s;
    }
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: (120px / 2) * -1;
    margin-left: (120px / 2) * -1;
    border: 5px solid $color-secondary-0;
    object-fit: cover;
  }
}
