@import "src/styles/scss/index";

.hero-img {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  img {
    @include image__border;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    object-fit: cover;
    object-position: 100% 50%;
    float: right;
  }
}
