@import "src/styles/scss/index";

.container {
  width: 100%;
  box-shadow: 0 1px 15px 0 rgba($color-grayscale-1, 0.3);
  z-index: 100;
}

.search {
  display: none;
  width: 100%;
  height: 42px;
  background: $color-lightscale-2;

  @include respond_tablet {
    display: block;
  }
}

.main {
  width: 100%;
  padding-top: 40px;

  @include respond_tablet {
    padding: 0 20px;
    @include make_flex(row, space-between, center);
  }
}

.logo {
  display: block;
  box-sizing: content-box;
  height: 130px;
  background: url("../../../img/logo-stacked.png") center no-repeat;
  background-size: auto 100px;

  @include respond_tablet {
    height: 50px;
    background: url("../../../img/logo-inline.png") left no-repeat;
    background-size: auto 50px;
    width: 30%;
  }

  & + * {
    flex: 1;
  }
}
