@function rgba-to-rgb($rgba, $background: #fff) {
  @return mix(
    rgb(red($rgba), green($rgba), blue($rgba)),
    $background,
    alpha($rgba) * 100%
  );
}

@function space($size) {
  @return map-get($map: $spacings, $key: $size);
}

@function width($col-width) {
  @return map-get($map: $col-spans, $key: $col-width);
}
