@import "src/styles/scss/index";

.nav {
  @include make_flex(row, space-evenly, center);
  padding: 30px 10px;
  widows: 100%;

  @include respond_tablet {
    @include make_flex(row, flex-end, center);
  }
}

.link {
  @include respond_tablet {
    &:not(:last-child) {
      padding-right: 30px;
    }
  }

  & > a {
    display: block;
    text-transform: uppercase;

    span {
      transition: color 0.15s ease-in-out;
    }

    &.active {
      span {
        transition: color 0.15s ease-in-out;
        color: $color-primary-0;
      }
    }
  }
}
