@import "src/styles/scss/index";
@import "../forms/index";

// Blended Colors
$blend-base-dark: #000;
$blend-base-light: #fff;
$blend-level-hover: 20%;
$blend-level-active: 40%;

// primary
$button-color__primary: #fff;
$button-color__primary-border: $color-secondary-0;
$button-color__primary-text: $color-secondary-0;
$button-color__primary-blend-base-background: $blend-base-light;
$button-color__primary-blend-base-border: $blend-base-dark;

// secondary
$button-color__secondary: $color-secondary-0;
$button-color__secondary-border: $color-secondary-1;
$button-color__secondary-text: #fff;

// Stateful Variables
$button-color__disabled: $color-lightscale-1;
$button-color__disabled-border: $color-lightscale-1;
$button-color__disabled-text: $color-grayscale-3;
$button-color__destructive: $color-invalid;
$button-color__destructive-border: $color-invalid;
$button-color__destructive-text: #fff;

// Outline
$button-offset__outline: space(xxs) * -1;

// Transition
$button-transition: all ease-in-out 0.2s;

// Dimensions
$button__min-width: space(xxl);

@mixin button__reset {
  cursor: pointer;
  border: 0;
  background: 0;
  margin: 0;
  padding: 0;
}

@mixin button__base(
  $background-color,
  $border-color,
  $text-color,
  $blend-base-background: $blend-base-dark,
  $blend-base-border: $blend-base-dark
) {
  position: relative;
  background: $background-color;
  border: 1px solid $border-color;
  text-align: center;
  transition: $button-transition;
  min-width: $button__min-width;
  width: auto;
  cursor: pointer;

  & > * {
    width: 100%;
  }

  & > p {
    color: $text-color !important;
    white-space: nowrap;
  }

  @content;

  &::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid transparent;
    border-radius: space(xxs);
    left: $button-offset__outline;
    top: $button-offset__outline;
    bottom: $button-offset__outline;
    right: $button-offset__outline;
    transition: $button-transition;
  }

  &:hover {
    background: mix(
      $blend-base-background,
      $background-color,
      $blend-level-hover
    );
    border-color: mix($blend-base-border, $border-color, $blend-level-hover);
  }

  &:focus {
    background: mix(
      $blend-base-background,
      $background-color,
      $blend-level-hover
    );
    border-color: mix($blend-base-border, $border-color, $blend-level-hover);
    outline: none;

    // &::after {
    //   border-color: $border-color;
    // }
  }

  &:active {
    background: mix(
      $blend-base-background,
      $background-color,
      $blend-level-active
    );
    border-color: mix($blend-base-border, $border-color, $blend-level-active);
  }

  &:disabled {
    background: $button-color__disabled;
    border-color: $button-color__disabled-border;

    & > p {
      color: $button-color__disabled-text !important;
    }
  }
}

@mixin button__lg {
  padding: space(xs) space(md);
  border-radius: space(mini);
}

@mixin button--primary {
  @include button__base(
    $button-color__primary,
    $button-color__primary-border,
    $button-color__primary-text,
    $button-color__primary-blend-base-background,
    $button-color__primary-blend-base-border
  ) {
    @include button__lg;
  }
}

@mixin button--secondary {
  @include button__base(
    $button-color__secondary,
    $button-color__secondary-border,
    $button-color__secondary-text
  ) {
    @include button__lg;
  }
}

@mixin button--destructive {
  @include button__base(
    $button-color__destructive,
    $button-color__destructive-border,
    $button-color__destructive-text
  ) {
    @include button__lg;
  }
}
