@import "./reset";
@import "./core/index";

* {
  box-sizing: border-box;
  position: relative;

  &::after,
  &::before {
    box-sizing: border-box;
    font-size: inherit;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  & > section {
    height: 100%;
    width: 100%;

    & > div {
      height: 100%;
      width: 100%;
    }
  }
}
