@import "src/styles/scss/index";

.bg-image {
  position: relative;

  &.fadeUp {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 50%;
      background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 86%
      );
    }
  }

  & > img {
    position: absolute;
    height: 100%;
    object-fit: cover;

    @include respond_desktop {
      width: 100%;
    }
  }

  & > .content {
    top: 0;
    height: inherit;
    z-index: 10;
  }
}
