@import "../index";

@mixin button-impact__text-style {
  & > p {
    @content;
  }

  & > div + p {
    margin-left: space(xxs);
  }
}

@mixin button-impact__icon-style {
  & > div > svg > path {
    @content;
  }
}

button.link {
  @include button__reset;
  @include make_flex(row, flex-start, center);
  @include button-impact__text-style {
    transition: $button-transition;
    text-transform: uppercase;
  }
  @include button-impact__icon-style {
    transition: $button-transition;
  }

  &:hover,
  &:focus {
    @include button-impact__text-style {
      color: $color-secondary-0;
    }
    @include button-impact__icon-style {
      fill: $color-secondary-0;
    }
  }
}
