// ********** MEASUREMENTS ************ \\
$factor: 4;
$spacings: (
  // 2px
    mini: $factor * 0.5px,
  // 4px
    xxs: $factor * 1px,
  // 8px
    xs: $factor * 2px,
  // 16px
    sm: $factor * 4px,
  // 24px
    md: $factor * 6px,
  // 32px
    lg: $factor * 8px,
  // 48px
    xl: $factor * 12px,
  // 64px
    xxl: $factor * 16px
);

// Colors
$color-primary: #bf9f5a;
$color-secondary: #4e8588;
$color-accent: #9ac371;
$color-grayscale: #4a4a4a;
$color-lightscale: #eaecec;
$color-invalid: #d0021b;
$color-warning: #f8e71c;
$color-success: #29a784;

@function make_color($c, $o) {
  @return mix($c, #ffffff, percentage($o/100));
}

$color-primary-0: make_color($color-primary, 100);
$color-primary-1: make_color($color-primary, 75);
$color-primary-2: make_color($color-primary, 50);
$color-primary-3: make_color($color-primary, 25);

$color-secondary-0: make_color($color-secondary, 100);
$color-secondary-1: make_color($color-secondary, 75);
$color-secondary-2: make_color($color-secondary, 50);
$color-secondary-3: make_color($color-secondary, 25);

$color-accent-0: make_color($color-accent, 100);
$color-accent-1: make_color($color-accent, 75);
$color-accent-2: make_color($color-accent, 50);
$color-accent-3: make_color($color-accent, 25);

$color-grayscale-0: make_color($color-grayscale, 100);
$color-grayscale-1: make_color($color-grayscale, 75);
$color-grayscale-2: make_color($color-grayscale, 50);
$color-grayscale-3: make_color($color-grayscale, 25);

$color-lightscale-0: make_color($color-lightscale, 100);
$color-lightscale-1: make_color($color-lightscale, 75);
$color-lightscale-2: make_color($color-lightscale, 50);
$color-lightscale-3: make_color($color-lightscale, 25);

$color-success-0: make_color($color-success, 100);
$color-success-1: make_color($color-success, 75);
$color-success-2: make_color($color-success, 50);
$color-success-3: make_color($color-success, 25);

$color-warning-0: make_color($color-warning, 100);
$color-warning-1: make_color($color-warning, 75);
$color-warning-2: make_color($color-warning, 50);
$color-warning-3: make_color($color-warning, 25);

$color-invalid-0: make_color($color-invalid, 100);
$color-invalid-1: make_color($color-invalid, 75);
$color-invalid-2: make_color($color-invalid, 50);
$color-invalid-3: make_color($color-invalid, 25);

$colors: (
  primary-0: make_color($color-primary, 100),
  primary-1: make_color($color-primary, 75),
  primary-2: make_color($color-primary, 50),
  primary-3: make_color($color-primary, 25),
  secondary-0: make_color($color-secondary, 100),
  secondary-1: make_color($color-secondary, 75),
  secondary-2: make_color($color-secondary, 50),
  secondary-3: make_color($color-secondary, 25),
  accent-0: make_color($color-accent, 100),
  accent-1: make_color($color-accent, 75),
  accent-2: make_color($color-accent, 50),
  accent-3: make_color($color-accent, 25),
  grayscale-0: make_color($color-grayscale, 100),
  grayscale-1: make_color($color-grayscale, 75),
  grayscale-2: make_color($color-grayscale, 50),
  grayscale-3: make_color($color-grayscale, 25),
  lightscale-0: make_color($color-lightscale, 100),
  lightscale-1: make_color($color-lightscale, 75),
  lightscale-2: make_color($color-lightscale, 50),
  lightscale-3: make_color($color-lightscale, 25),
  success-0: make_color($color-success, 100),
  success-1: make_color($color-success, 75),
  success-2: make_color($color-success, 50),
  success-3: make_color($color-success, 25),
  warning-0: make_color($color-warning, 100),
  warning-1: make_color($color-warning, 75),
  warning-2: make_color($color-warning, 50),
  warning-3: make_color($color-warning, 25),
  invalid-0: make_color($color-invalid, 100),
  invalid-1: make_color($color-invalid, 75),
  invalid-2: make_color($color-invalid, 50),
  invalid-3: make_color($color-invalid, 25),
  white: #fff,
  black: #000
);

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  tb: 1024px,
  xl: 1200px,
  xxl: 1440px
) !default;
