$base--font-family: "Raleway", sans-serif;
$base--font-family-alt: "Montserrat", sans-serif;
$base--font-color: get-color(grayscale-0);
$base--font-line-height: 1.58;
$base--font-response-multiplier: 1.2;
$base--font-weights: (
  extra-light: 200,
  light: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700
);

// Sizes
// Families
$typography-font-families: (
  default: $base--font-family,
  label: $base--font-family,
  paragraph: $base--font-family,
  title: $base--font-family-alt,
  heading: $base--font-family-alt,
  text: $base--font-family
);

$typography-font-sizes: (
  heading-xl: 42px,
  heading-lg: 34px,
  heading-md: 28px,
  heading-sm: 22px,
  xs: 10px,
  // rule exemption
    sm: 12px,
  md: 14px,
  lg: 16px,
  xl: 18px
);

// Weights
$typography-font-weights: (
  heading-thin:
    map-get(
      $map: $base--font-weights,
      $key: extra-light
    ),
  heading-fat:
    map-get(
      $map: $base--font-weights,
      $key: regular
    ),
  title:
    map-get(
      $map: $base--font-weights,
      $key: extra-light
    ),
  text-mobile:
    map-get(
      $map: $base--font-weights,
      $key: light
    ),
  text-tablet:
    map-get(
      $map: $base--font-weights,
      $key: extra-light
    ),
  caption:
    map-get(
      $map: $base--font-weights,
      $key: light
    ),
  paragraph:
    map-get(
      $map: $base--font-weights,
      $key: regular
    ),
  label:
    map-get(
      $map: $base--font-weights,
      $key: semi-bold
    )
);
