$factor: 4;
$spacings: (
  // 2px
    mini: $factor * 0.5px,
  // 4px
    xxs: $factor * 1px,
  // 8px
    xs: $factor * 2px,
  // 16px
    sm: $factor * 4px,
  // 24px
    md: $factor * 6px,
  // 32px
    lg: $factor * 8px,
  // 48px
    xl: $factor * 12px,
  // 64px
    xxl: $factor * 16px
);

// Colors

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  tb: 1024px,
  xl: 1200px,
  xxl: 1440px
) !default;
