@import "src/styles/scss/index";

.blog-list.blog-list {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 30px;

  @include respond-tablet {
    padding: 0 50px;
    margin-bottom: 50px;
  }

  @include respond-desktop {
    padding: 0;
    max-width: 768px !important;
  }
}
