@import "../index";

.grouping {
  & + .grouping {
    padding-top: space(sm);
  }

  &.stacked {
    button {
      display: block;
    }

    button + button {
      margin-top: space(sm);
    }
  }

  &.inline {
    @include make_flex(row, flex-start, center);

    button + button {
      margin-left: space(sm);
    }
  }
}
