@import "src/styles/scss/index";

$transition-speed: 0.5s;
$transition-function: ease-in-out;

.stepper {
  margin-bottom: 30px;

  .steps {
    @include make_flex(row, space-between, center);
    margin-bottom: 20px;
    text-align: center;
  }

  .step {
    & > .label {
      text-transform: lowercase;
      margin-bottom: 20px;
      transition: color $transition-speed $transition-function;
    }

    & > .bubble {
      height: 75px;
      width: 75px;
      background: #fff;
      border-radius: 50%;
      border: 6px solid $color-grayscale-3;
      cursor: pointer;
      z-index: 10;
      transition: border-color $transition-speed $transition-function;

      &.active {
        border-color: $color-secondary-0;
      }

      &.passed {
        border-color: $color-secondary-2;
      }
    }
  }

  .line {
    position: absolute;
    width: 100%;
    height: 2px;
    background: $color-secondary-2;
    bottom: #{calc(72px / 2)};
    transition: width $transition-speed $transition-function;
  }
}
