@import "src/styles/scss/index";

// VARIABLES
// bases
$base--font-family: "Raleway", sans-serif;
$base--font-family-alt: "Montserrat", sans-serif;
$base--font-color: get-color(grayscale-0);
$base--font-line-height: 1.58;
$base--font-response-multiplier: 1.2;
$base--font-weights: (
  extra-light: 200,
  light: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700
);

// Sizes
// Families
$typography-font-families: (
  default: $base--font-family,
  label: $base--font-family,
  paragraph: $base--font-family,
  title: $base--font-family-alt,
  heading: $base--font-family-alt,
  text: $base--font-family
);

$typography-font-sizes: (
  heading-xl: 42px,
  heading-lg: 34px,
  heading-md: 28px,
  heading-sm: 22px,
  xs: 10px,
  // rule exemption
    sm: 12px,
  md: 14px,
  lg: 16px,
  xl: 18px
);

// Weights
$typography-font-weights: (
  heading-thin:
    map-get(
      $map: $base--font-weights,
      $key: extra-light
    ),
  heading-fat:
    map-get(
      $map: $base--font-weights,
      $key: regular
    ),
  title:
    map-get(
      $map: $base--font-weights,
      $key: extra-light
    ),
  text-mobile:
    map-get(
      $map: $base--font-weights,
      $key: light
    ),
  text-tablet:
    map-get(
      $map: $base--font-weights,
      $key: extra-light
    ),
  caption:
    map-get(
      $map: $base--font-weights,
      $key: light
    ),
  paragraph:
    map-get(
      $map: $base--font-weights,
      $key: regular
    ),
  label:
    map-get(
      $map: $base--font-weights,
      $key: semi-bold
    )
);

// FNS
@function get-font--size($size) {
  @return map-get($map: $typography-font-sizes, $key: $size);
}

@function get-font--weight($weight) {
  @return map-get($map: $typography-font-weights, $key: $weight);
}

@function get-font--family($family) {
  @return map-get($map: $typography-font-families, $key: $family);
}

// FONT MACHINE
@mixin font_machine(
  $size: $size,
  $family: default,
  $weight: regular,
  $style: normal,
  $color: $base--font-color,
  $line-height: $base--font-line-height
) {
  $private--font-family: get-font--family($family);
  $private--font-size: get-font--size($size);
  $private--font-weight: get-font--weight($weight);
  $private--font-color: get-color($color);

  font-family: $private--font-family;
  color: $private--font-color;
  font-weight: $private--font-weight;
  font-style: $style;
  font-size: $private--font-size;
  line-height: $line-height;

  @include respond-tablet {
    font-size: $private--font-size * $base--font-response-multiplier;
  }
}

@mixin font-base {
  margin: 0;
}

// COMPONENTS
// heading
@mixin font-heading--xl {
  @include font-base;
  @include font_machine(
    $size: heading-xl,
    $weight: heading-thin,
    $family: heading,
    $line-height: 1.24
  );
}
@mixin font-heading--lg {
  @include font-base;
  @include font_machine(
    $size: heading-lg,
    $weight: heading-thin,
    $family: heading
  );
}
@mixin font-heading--md {
  @include font-base;
  @include font_machine(
    $size: heading-md,
    $weight: heading-fat,
    $family: heading
  );
}
@mixin font-heading--sm {
  @include font-base;
  @include font_machine(
    $size: heading-sm,
    $weight: heading-fat,
    $family: heading
  );
}
@mixin font-heading--xs {
  @include font-base;
  @include font_machine(
    $size: heading-xs,
    $weight: heading-fat,
    $family: heading
  );
}

// caption
@mixin font-caption--xl {
  @include font-base;
  @include font_machine($size: xl, $weight: caption);
}
@mixin font-caption--lg {
  @include font-base;
  @include font_machine($size: lg, $weight: caption);
}
@mixin font-caption--md {
  @include font-base;
  @include font_machine($size: md, $weight: caption);
}
@mixin font-caption--sm {
  @include font-base;
  @include font_machine($size: sm, $weight: caption);
}
@mixin font-caption--xs {
  @include font-base;
  @include font_machine($size: xs, $weight: caption);
}

// paragraph
@mixin font-paragraph--xl {
  @include font-base;
  @include font_machine($size: xl, $weight: paragraph);
}
@mixin font-paragraph--lg {
  @include font-base;
  @include font_machine($size: lg, $weight: paragraph);
}
@mixin font-paragraph--md {
  @include font-base;
  @include font_machine($size: md, $weight: paragraph);
}
@mixin font-paragraph--sm {
  @include font-base;
  @include font_machine($size: sm, $weight: paragraph);
}
@mixin font-paragraph--xs {
  @include font-base;
  @include font_machine($size: xs, $weight: paragraph);
}

// text
@mixin font-text--xl {
  @include font-base;
  @include font_machine($size: xl, $weight: text-mobile, $family: text);

  @include respond-tablet {
    font-weight: get-font--weight(text-tablet);
  }
}
@mixin font-text--lg {
  @include font-base;
  @include font_machine($size: lg, $weight: text-mobile, $family: text);

  @include respond-tablet {
    font-weight: get-font--weight(text-tablet);
  }
}
@mixin font-text--md {
  @include font-base;
  @include font_machine($size: md, $weight: text-mobile, $family: text);

  @include respond-tablet {
    font-weight: get-font--weight(text-tablet);
  }
}
@mixin font-text--sm {
  @include font-base;
  @include font_machine($size: sm, $weight: text-mobile, $family: text);

  @include respond-tablet {
    font-weight: get-font--weight(text-tablet);
  }
}
@mixin font-text--xs {
  @include font-base;
  @include font_machine($size: xs, $weight: text-mobile, $family: text);

  @include respond-tablet {
    font-weight: get-font--weight(text-tablet);
  }
}

@mixin font-label--xl {
  @include font-base;
  @include font_machine($family: label, $size: xl, $weight: label);
}
@mixin font-label--lg {
  @include font-base;
  @include font_machine($family: label, $size: lg, $weight: label);
}
@mixin font-label--md {
  @include font-base;
  @include font_machine($family: label, $size: md, $weight: label);
}
@mixin font-label--sm {
  @include font-base;
  @include font_machine($family: label, $size: sm, $weight: label);
}
@mixin font-label--xs {
  @include font-base;
  @include font_machine($family: label, $size: xs, $weight: label);
}

// icons
@mixin icon__base($size) {
  $font-size: get-font--size($size);

  @include make_flex(row, center, center);
  width: $font-size * $base--font-line-height !important;
  height: $font-size * $base--font-line-height !important;

  @include respond-tablet {
    $rounded-size: floor(
      ($font-size * $base--font-response-multiplier) * $base--font-line-height
    );
    width: $rounded-size !important;
    height: $rounded-size !important;
  }

  & > span,
  & > svg {
    font-size: $font-size;

    @include respond-tablet {
      font-size: $font-size * $base--font-response-multiplier;
    }
  }
}

@mixin font-icon--heading-xl {
  @include icon__base(heading-xl);
}
@mixin font-icon--heading-lg {
  @include icon__base(heading-lg);
}
@mixin font-icon--heading-md {
  @include icon__base(heading-md);
}
@mixin font-icon--heading-sm {
  @include icon__base(heading-sm);
}
@mixin font-icon--xl {
  @include icon__base(xl);
}
@mixin font-icon--lg {
  @include icon__base(lg);
}
@mixin font-icon--md {
  @include icon__base(md);
}
@mixin font-icon--sm {
  @include icon__base(sm);
}
@mixin font-icon--xs {
  @include icon__base(xs);
}

// titles
@mixin font-title--lg {
  @include font-base;
  @include font_machine(
    $weight: title,
    $size: heading-md,
    $family: title,
    $color: primary-0
  );
  text-transform: uppercase;
  padding-bottom: 20px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 20%;
    margin-left: #{calc((20% / 2) * -1)};
    left: 50%;
    height: 1px;
    background: get-color(primary-0);
    bottom: 0;
  }
}

@mixin font-title--md {
  @include font-base;
  @include font_machine(
    $weight: title,
    $size: md,
    $family: title,
    $color: get-color(grayscale-0)
  );
  text-transform: uppercase;
  padding: 20px 50px 10px 50px;
  margin-bottom: 10px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    height: 1px;
    bottom: 0;
    background: get-color(grayscale-0);
    margin-left: #{calc((10% / 2) * -1)};
    width: 10%;
  }
}

@mixin font-title--sm {
  @include font-base;
  @include font_machine($weight: regular, $size: xs, $color: secondary-0);
  text-transform: uppercase;
  padding: 20px 20px 10px 20px;
  margin-bottom: 20px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    height: 1px;
    bottom: 0;
    background: get-color(secondary-0);
    margin-left: #{calc((10% / 2) * -1)};
    width: 10%;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 1px;
    background: get-color(lightscale-0);
  }
}
