// Breakpoints & Responsive Mixins
@function breakpoint_get_min($name, $breakpoints: $breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint_get_max($name, $breakpoints: $breakpoints) {
  $max: map-get($breakpoints, $name);
  @return if($max != 0, $max, null);
}

@mixin breakpoint($name, $breakpoints: $breakpoints) {
  $min: breakpoint_get_min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin breakpoint-between($min, $max, $breakpoints: $breakpoints) {
  $min: breakpoint_get_min($min, $breakpoints);
  $max: breakpoint_get_max($max, $breakpoints);
  @if $min and $max {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin respond_phone {
  @include breakpoint(sm) {
    @content;
  }
}

@mixin respond_tablet {
  @include breakpoint(md) {
    @content;
  }
}

@mixin respond_tablet_landscape {
  @include breakpoint_between(lg, tb) {
    @content;
  }
}

@mixin respond_desktop {
  @include breakpoint(lg) {
    @content;
  }
}

@mixin respond_retina {
  @include breakpoint(xl) {
    @content;
  }
}

// Positioning (flex)
@mixin make_flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Creates the border around the image
@mixin image__border {
  outline: 1px solid $color-primary-0;
  outline-offset: -20px;
}

// Creates the color blocks with custom attributes
// @mixin build-colors {
//   @each $color-key, $value in $colors {
//     &.#{$color-key} {
//       color: $value;
//     }
//   }
// }
