@import "../variables/index";

:export {
  primary_0: $color-primary-0;
  primary_1: $color-primary-1;
  primary_2: $color-primary-2;
  primary_3: $color-primary-3;
  secondary_0: $color-secondary-0;
  secondary_1: $color-secondary-1;
  secondary_2: $color-secondary-2;
  secondary_3: $color-secondary-3;
  accent_0: $color-accent-0;
  accent_1: $color-accent-1;
  accent_2: $color-accent-2;
  accent_3: $color-accent-3;
  grayscale_0: $color-grayscale-0;
  grayscale_1: $color-grayscale-1;
  grayscale_2: $color-grayscale-2;
  grayscale_3: $color-grayscale-3;
  lightscale_0: $color-lightscale-0;
  lightscale_1: $color-lightscale-1;
  lightscale_2: $color-lightscale-2;
  lightscale_3: $color-lightscale-3;
  success_0: $color-success-0;
  success_1: $color-success-1;
  success_2: $color-success-2;
  success_3: $color-success-3;
  warning_0: $color-warning-0;
  warning_1: $color-warning-1;
  warning_2: $color-warning-2;
  warning_3: $color-warning-3;
  invalid_0: $color-invalid-0;
  invalid_1: $color-invalid-1;
  invalid_2: $color-invalid-2;
  invalid_3: $color-invalid-3;
}
