@import "src/styles/scss/index";

.blog-footer {
  @include make_flex(row, center, center);
  padding: 30px 0;
}

.link {
  flex: 1;
}

.left {
  @include make_flex(row, flex-start, center);
  text-align: left;
  & > *:first-child {
    margin-right: 10px;
  }
}

.right {
  @include make_flex(row, flex-end, center);
  text-align: right;
  & > *:last-child {
    margin-left: 10px;
  }
}
