@import "src/styles/scss/index";

.carosel {
  footer {
    margin-top: 20px;
    text-align: center;

    .bubble {
      height: 24px;
      width: 24px;
      background: $color-lightscale;
      border: 1px solid $color-secondary-3;
      border-radius: 50%;
      transition: background 0.15s ease-in-out;
      z-index: 50;
      cursor: pointer;

      & + .bubble {
        margin-left: 20px;
      }

      &.active {
        background: $color-secondary-0;
      }
    }
  }
}
