@import "src/styles/scss/index";

.tag-group {
  @include make_flex(row, flex-start, flex-start);
  margin: 40px 0;

  li {
    margin: 0 10px 10px 0;

    @include respond_tablet {
      margin: 0 15px 15px 0;
    }
  }
}
