@import "src/styles/scss/mixins/fonts.mixins";

// resets
@mixin input-reset {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

// Layouts
@mixin input-control {
  display: block;
}

/********************\
|****** STATES ******|
\********************/
@mixin input-placeholder($color: $color-grayscale-3) {
  &::placeholder {
    color: $color;
  }
  &:placeholder-shown {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
}

/********************\
|****** LABELS ******|
\********************/
@mixin input-label {
  display: block;
  margin-bottom: space(xxs);
}

/********************\
|****** ERROR ******|
\********************/
@mixin input-error {
  margin-top: space(xxs);
}

/******************\
|****** BASE ******|
\******************/
@mixin input-base($background) {
  @include input-reset;
  @include font-paragraph--md;
  @include input-placeholder;
  background: $background;
  padding: space(xs) space(sm);
  border-radius: space(mini);
  transition: border 0.15s ease-in-out;
  border: 1px solid $color-secondary-3;
  width: 100%;
}
@mixin input-base--invalid {
  @include input-placeholder($color: $color-invalid-0);
  border: 1px solid $color-invalid-0;
}
@mixin input-base--focus {
  &:focus {
    outline: none;
    border: 1px solid $color-secondary-1;
  }
}

$color-input--primary--background: $color-lightscale-3;
$color-input--secondary--background: #fff;

/********************************\
| Text
\********************************/
// Primary
@mixin input-text--primary {
  @include input-base($background: $color-input--primary--background);
}
@mixin input-text--primary--invalid {
  @include input-base--invalid;
}
@mixin input-text--primary--focus {
  @include input-base--focus;
}

// Secondary
@mixin input-text--secondary {
  @include input-base($color-input--secondary--background);
}
@mixin input-text--secondary--invalid {
  @include input-base--invalid;
}
@mixin input-text--secondary--focus {
  @include input-base--focus;
}

/********************************\
| EMAIL
\********************************/
// Primary
@mixin input-email--primary {
  @include input-base($background: $color-input--primary--background);
}
@mixin input-email--primary--invalid {
  @include input-base--invalid;
}
@mixin input-email--primary--focus {
  @include input-base--focus;
}

// Secondary
@mixin input-email--secondary {
  @include input-base($color-input--secondary--background);
}
@mixin input-email--secondary--invalid {
  @include input-base--invalid;
}
@mixin input-email--secondary--focus {
  @include input-base--focus;
}

/********************************\
| PASSWORD
\********************************/
// Primary
@mixin input-password--primary {
  @include input-base($background: $color-input--primary--background);
}
@mixin input-password--primary--invalid {
  @include input-base--invalid;
}
@mixin input-password--primary--focus {
  @include input-base--focus;
}

// Secondary
@mixin input-password--secondary {
  @include input-base($color-input--secondary--background);
}
@mixin input-password--secondary--invalid {
  @include input-base--invalid;
}
@mixin input-password--secondary--focus {
  @include input-base--focus;
}

/********************************\
| SEARCH
\********************************/
// Primary
@mixin input-search--primary {
  @include input-base($background: $color-input--primary--background);
}
@mixin input-search--primary--invalid {
  @include input-base--invalid;
}
@mixin input-search--primary--focus {
  @include input-base--focus;
}

// Secondary
@mixin input-search--secondary {
  @include input-base($color-input--secondary--background);
}
@mixin input-search--secondary--invalid {
  @include input-base--invalid;
}
@mixin input-search--secondary--focus {
  @include input-base--focus;
}

/********************************\
| TEXTAREA
\********************************/
@mixin input-textarea--base {
  height: 300px;
  max-height: 300px;
  max-width: 100%;
}
// Primary
@mixin input-textarea--primary {
  @include input-base($background: $color-input--primary--background);
  @include input-textarea--base;
}
@mixin input-textarea--primary--invalid {
  @include input-base--invalid;
}
@mixin input-textarea--primary--focus {
  @include input-base--focus;
}

// Secondary
@mixin input-textarea--secondary {
  @include input-base($color-input--secondary--background);
  @include input-textarea--base;
}
@mixin input-textarea--secondary--invalid {
  @include input-base--invalid;
}
@mixin input-textarea--secondary--focus {
  @include input-base--focus;
}
